nav h3
{
    text-align: center;
}

.current
{

    text-align: center;
}

nav
{
    
    float: left;
    width: 14%;
    border-style: none;
    color: red;
    height: 100%;
   
    
}

nav h3
{
    color: #00e1ff;
}

nav ul
{
    list-style-type: none;
    line-height: 1.8;
    text-decoration: none;
    width: 90%;
}

nav ~ div
{
    width: 70%;
    float: right;
    margin-right: 14%;
}

div > ol
{
    display: table;
}

img 
{
    float: none !important;
}

.clearfix::after 
{
    content: "";
    clear: both;
    display: table;
}

pre
{
    overflow: auto;
}

.hljs {
    background-color: #00000000;
}